.image-block {
    background-color: white;
    padding: 4.5rem;
    flex-basis: 350px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transition: all ease .5s;
    cursor: pointer;
}

.image-block:hover {
    transform: scale(1.1);
}

.image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.image-block__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}